@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  width: 400px;
  font-weight: 300;
  margin: 20px auto;
  margin-bottom: 80px;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
}

.header {
  @include mixins.row-space-between-center();
  width: 100%;
  max-width: 350px;
  margin: auto;
  height: 30px;
  color: config.$blue;

  @include mixins.mobile {
    width: 100%;
    max-width: 100%;
  }
}
