@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  color: config.$white;
  background: config.$darkblue;

  .imageBox {
    position: relative;
    height: 100dvh;
    width: 100%;

    .scrollDown {
      position: absolute;
      z-index: 2;
      left: 50%;
      bottom: 10%;
      transform: translateX(-50%);
    }
  }

  h1 {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    user-select: none;
  }

  .content {
    margin: auto;
    padding: 100px 0px;
    width: 50%;
    max-width: config.$max-widthHeigh;

    @include mixins.mobile {
      width: calc(100% - 24px);
    }

    .row {
      padding: 32px 0px;
      border-bottom: 1px solid config.$grey;
      @include mixins.row-space-between-center();

      .action {
        cursor: pointer;

        &:hover {
          color: config.$gold;
        }
      }
    }
  }
}
