@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: config.$max-widthHeigh;
  width: config.$content-width;
  margin: auto;
  font-weight: 300;
  padding: 20px 0px;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
  @include mixins.tablet {
    width: calc(100% - 24px);
  }

  .header {
    @include mixins.row-space-between-center();
    width: 100%;
    max-width: 350px;
    margin: auto;
    height: 30px;
    color: config.$blue;

    p {
      font-weight: bold;
      font-size: config.$med-font;
    }

    @include mixins.mobile {
      width: 100%;
      max-width: 100%;
    }
  }

  .portal {
    width: 100%;

    h3 {
      margin-bottom: 20px;
      color: config.$blue;
    }
  }

  .notification {
    margin-bottom: 20px;
    button {
      @include mixins.button(config.$red, config.$red, config.$white);
    }
  }

  .buttonContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    max-width: 350px;

    @include mixins.mobile {
      width: 100%;
      max-width: 100%;
    }

    button {
      @include mixins.button(config.$white, config.$white, config.$blue);
      border: 1px solid config.$blue;
      width: 45%;
      margin-bottom: 10px;
    }
    .booking {
      @include mixins.button(config.$blue, config.$blue, config.$white);
      width: 45%;
    }
    .reminder {
      @include mixins.button(config.$green, config.$green, config.$white);
      width: 100%;
    }
  }

  .message {
    margin-bottom: 16px;

    .text {
      color: config.$grey;
    }
    .call {
      color: config.$blue;
      font-weight: bold;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 12px;
    margin: auto;
    direction: rtl;

    @include mixins.tablet {
      grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    }
    @include mixins.mobile {
      display: flex;
      flex-direction: column;
    }

    button {
      @include mixins.button(config.$blue, config.$blue, config.$white);
      margin: auto;
      margin-top: 20px;
    }

    .item {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      padding: 12px;
      margin: 0px auto;
      box-shadow: config.$card-shadow;
      background: config.$white;
      border: 1px solid config.$white;
      text-align: right;
      @include mixins.border-radius();

      .title {
        font-weight: bold;

        @include mixins.desktop {
          &:hover {
            color: config.$blue;
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }

      @include mixins.desktop {
        &:hover {
          border: 1px solid config.$blue;
        }
      }
    }

    .row,
    .subRow {
      display: flex;
      flex-direction: row;
      align-items: center;

      .image {
        border-radius: 50%;
        margin-left: 12px;
      }

      .greyTitle {
        color: config.$grey;
      }

      .time {
        font-weight: bold;
        direction: ltr;
      }

      .icon {
        margin-left: 4px;
      }
    }

    .row {
      justify-content: space-between;
      width: 100%;
    }
  }

  .table {
    @include mixins.desktop {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
      gap: 12px;
      margin: auto;
      direction: rtl;
    }
    @include mixins.tablet {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
      gap: 12px;
      margin: auto;
      direction: rtl;
    }
    .row {
      @include mixins.row-space-between-center();
      @include mixins.mobile {
        flex-direction: row-reverse;
      }
      text-align: right;
      width: 100%;

      .title {
        font-weight: bold;

        @include mixins.desktop {
          &:hover {
            color: config.$blue;
            cursor: pointer;
          }
        }
      }
      .doctor {
        width: 40%;
      }
      .time {
        direction: ltr;
      }
    }
    .subRow {
      @include mixins.row-space-between-center();
      @include mixins.mobile {
        flex-direction: row-reverse;
      }
      p {
        margin-right: 8px;
      }
    }
    .item {
      align-self: start;
      padding: 8px;
      margin-bottom: 8px;
      box-shadow: config.$card-shadow;
      background: config.$white;
      border: 1px solid config.$white;
      @include mixins.border-radius();

      @include mixins.desktop {
        &:hover {
          border: 1px solid config.$blue;
        }
      }

      .infoBox {
        width: 100%;
      }
    }
    .colorCode {
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }

  .input {
    max-width: 330px;
    margin: 20px auto;

    @include mixins.mobile {
      max-width: 100%;
    }

    .bar {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
    }

    .label {
      color: config.$grey;
      font-size: config.$small-font;
      margin-bottom: 4px;
    }

    input {
      @include mixins.input();
      width: 100%;
    }

    p {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  .logout {
    margin-top: 12px;
    cursor: pointer;

    p {
      font-size: small;
      color: config.$grey;
      font-weight: 300;

      @include mixins.desktop {
        &:hover {
          cursor: pointer;
          color: config.$blue;
        }
      }
    }
  }

  .records {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 12px;
    direction: rtl;
    margin-top: 20px;

    @include mixins.mobile {
      display: flex;
      flex-direction: column;
    }
    @include mixins.tablet {
      grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    }

    .card {
      display: flex;
      flex-direction: column;
      text-align: right;
      box-shadow: config.$card-shadow;
      background: config.$white;
      padding: 12px;
      height: fit-content;
      @include mixins.border-radius();

      .info {
        padding: 5px 0px;

        span {
          color: config.$grey;
          font-size: small;
        }
      }

      .item {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
      }

      .recordBox {
        border-bottom: 1px solid config.$lightgrey;
        margin-bottom: 4px;

        .recordRow {
          @include mixins.row-space-between-center();
        }
      }

      .recordText {
        color: config.$grey;
        font-size: small;
      }

      .recordMessage {
        font-size: small;
      }

      .input {
        width: 100%;
        margin: auto;
        max-width: none;

        .bar {
          margin: 10px 0px;
        }

        textarea {
          @include mixins.input();
          width: 100%;
          max-width: 100%;
          min-width: 100%;
          height: 100px;
          border-radius: 5px;
        }
      }

      .button {
        @include mixins.button(config.$blue, config.$blue, config.$white);
        width: 100%;
      }
    }

    .popup {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100vh;
      background: config.$white;
      padding: 20px;

      h3 {
        margin: 10px 0px;
      }

      .button {
        @include mixins.button(config.$blue, config.$blue, config.$white);
        width: 150px;
        margin-top: 20px;
      }
    }
  }

  .dataRefresh {
    max-width: 350px;
    margin: auto;
  }

  .row {
    @include mixins.row-space-between-center();

    span {
      color: config.$grey;
      font-size: small;
    }
  }
}

.navigation {
  margin: 16px auto;
  width: 100%;
  max-width: 350px;
  @include mixins.row-space-between-center();
  flex-direction: row-reverse;
  justify-content: space-around;
  border: 1px solid config.$grey;
  border-radius: 50px;
  padding: 8px;

  @include mixins.mobile {
    width: 100%;
    max-width: 100%;
  }

  .nav {
    @include mixins.desktop {
      &:hover {
        color: config.$blue;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
  .activeNav {
    color: config.$blue;
    font-weight: bold;
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.analytics {
  position: relative;
  width: 350px;
  margin: 20px auto;
  box-shadow: config.$card-shadow;
  background: config.$white;
  padding: 12px;
  @include mixins.border-radius();

  .row {
    margin: 4px 0px;
    @include mixins.row-space-between-center();
  }

  @include mixins.mobile {
    width: 100%;
  }

  p {
    color: config.$blue;
    font-weight: bold;
  }

  .item {
    color: config.$grey;
    font-weight: 300;

    @include mixins.desktop {
      &:hover {
        cursor: pointer;
        color: config.$blue;
      }
    }
  }

  .itemActive {
    color: config.$blue;
  }
}
