@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: config.$max-widthHeigh;
  width: config.$content-width;
  margin: auto;
  font-weight: 300;
  padding: 20px 0px;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
  @include mixins.tablet {
    width: calc(100% - 24px);
  }

  .header {
    @include mixins.row-space-between-center();
    width: 100%;
    max-width: 350px;
    margin: auto;
    color: config.$blue;

    p {
      font-weight: bold;
      font-size: config.$med-font;
    }

    @include mixins.mobile {
      width: 100%;
      max-width: 100%;
    }
  }

  .portal {
    width: 100%;

    h3 {
      margin-bottom: 20px;
      color: config.$blue;
    }
  }

  .button {
    margin: 20px 0px;

    button {
      @include mixins.button(config.$blue, config.$blue, config.$white);
      margin: auto;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 12px;
    margin: auto;
    direction: rtl;

    @include mixins.tablet {
      grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    }
    @include mixins.mobile {
      display: flex;
      flex-direction: column;
    }

    button {
      @include mixins.button(config.$blue, config.$blue, config.$white);
      margin: auto;
      margin-top: 20px;
    }

    .item {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      padding: 12px;
      margin: 0px auto;
      box-shadow: config.$card-shadow;
      background: config.$white;
      border: 1px solid config.$white;
      text-align: right;
      @include mixins.border-radius();

      .title {
        font-weight: bold;
        &:hover {
          color: config.$blue;
          cursor: pointer;
          text-decoration: underline;
        }
      }

      &:hover {
        border: 1px solid config.$blue;
      }
    }
  }

  .row,
  .subRow {
    display: flex;
    flex-direction: row;
    align-items: center;

    .image {
      border-radius: 50%;
      margin-left: 12px;
    }

    .greyTitle {
      color: config.$grey;
    }

    .time {
      font-weight: bold;
      direction: ltr;
    }

    .icon {
      margin-left: 4px;
    }
  }

  .row {
    justify-content: space-between;
    width: 100%;
  }

  .action {
    margin-top: 20px;
    width: 150px;
    @include mixins.row-space-between-center();

    .row {
      @include mixins.row-space-between-center();
      justify-content: space-around;
      width: 100%;
      margin-left: 20px;
      cursor: pointer;

      p {
        margin-right: 5px;
      }
    }
  }

  .logout {
    margin-top: 14px;
    cursor: pointer;

    p {
      &:hover {
        color: config.$blue;
      }
    }
  }
}

.analytics {
  width: 350px;
  margin: 20px auto;
  box-shadow: config.$card-shadow;
  background: config.$white;
  padding: 12px;
  @include mixins.border-radius();

  .row {
    margin: 4px 0px;
    @include mixins.row-space-between-center();
  }

  @include mixins.mobile {
    width: 100%;
  }

  p {
    font-weight: bold;
  }

  .item {
    color: config.$grey;
    font-weight: 300;

    &:hover {
      cursor: pointer;
      color: config.$blue;
    }
  }

  .itemActive {
    color: config.$blue;
  }
}
