@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  direction: rtl;
  max-width: config.$max-widthHeigh;
  width: config.$content-width;
  font-weight: 300;
  margin: 20px auto;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }

  .input {
    width: 100%;
    max-width: 350px;
    margin: 20px auto;

    @include mixins.mobile {
      max-width: 100%;
    }

    .bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .label {
      color: config.$grey;
      font-size: config.$small-font;
      margin-bottom: 4px;
    }

    input {
      @include mixins.input();
      width: 100%;
    }
  }

  .activeButton {
    margin-top: 12px;
    @include mixins.button(config.$red, config.$red, config.$white);
  }

  .disableButton {
    margin-top: 12px;
    @include mixins.button(config.$green, config.$green, config.$white);
  }

  .selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 350px;
    color: config.$blue;

    .input {
      width: 100%;
      margin-bottom: 16px;

      select {
        @include mixins.input();
        width: 100%;
      }
    }

    @include mixins.mobile {
      width: 100%;
      max-width: 100%;
    }
  }

  .navigation {
    margin: 16px 0px;
    width: 100%;
    max-width: 350px;
    @include mixins.row-space-between-center();
    justify-content: space-around;
    border: 1px solid config.$grey;
    border-radius: 50px;
    padding: 8px;

    @include mixins.mobile {
      width: 100%;
      max-width: 100%;
    }

    .nav {
      @include mixins.desktop {
        &:hover {
          color: config.$blue;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
    .activeNav {
      color: config.$blue;
      font-weight: bold;
    }
  }

  .inputCount {
    width: 100%;
    @include mixins.row-space-between-center();

    .input {
      width: 45%;
    }
  }

  .reminder {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15%, 1fr));
    gap: 12px;
    margin: auto;
    width: 100%;
    direction: rtl;
    text-align: center;

    @include mixins.mobile {
      grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 12px;
    margin: auto;
    width: 100%;
    direction: rtl;

    @include mixins.tablet {
      grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    }
    @include mixins.mobile {
      display: flex;
      flex-direction: column;
    }
  }

  .timesheetCard {
    width: 100%;
    padding: 8px;
    box-shadow: config.$card-shadow;
    background: config.$white;
    border: 1px solid config.$white;
    @include mixins.border-radius();

    .row {
      p {
        color: config.$grey;
        font-size: 14px;
      }
    }
  }
}

.row {
  margin: 2px 0px;
  @include mixins.row-space-between-center();
}

.records {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 12px;
  direction: rtl;
  margin-top: 20px;
  margin-bottom: 120px;
  width: 100%;

  @include mixins.mobile {
    display: flex;
    flex-direction: column;
  }
  @include mixins.tablet {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }

  .card {
    display: flex;
    flex-direction: column;
    text-align: right;
    box-shadow: config.$card-shadow;
    background: config.$white;
    padding: 12px;
    height: fit-content;
    max-width: 500px;
    @include mixins.border-radius();

    h4 {
      color: config.$blue;
    }

    .row {
      @include mixins.row-space-between-center();

      span {
        color: config.$grey;
        font-size: small;
      }

      .more {
        color: config.$blue;
      }
    }

    .info,
    .historyItem {
      margin-bottom: 4px;
      border-bottom: 1px solid config.$lightgrey;

      span {
        color: config.$grey;
        font-size: small;
      }
    }

    .item {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    }

    .historyItem {
      .historyRow {
        @include mixins.row-space-between-center();
        justify-content: right;
        flex-wrap: wrap;

        h5 {
          margin: 0px 8px;
        }
      }
    }

    .recordBox {
      border-bottom: 1px solid config.$lightgrey;
      margin-bottom: 4px;

      .recordRow {
        @include mixins.row-space-between-center();
      }
    }

    .recordText {
      color: config.$blue;
      font-size: small;
      font-weight: bold;
    }
  }

  .popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background: config.$background;
    padding: 20px;
    overflow-y: auto;
    text-align: center;

    @include mixins.mobile {
      padding: 12px;
    }

    .row {
      @include mixins.row-space-between-center();
      max-width: 400px;
      margin: auto;
    }
  }
}
