@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  direction: rtl;
  max-width: config.$max-widthHeigh;
  width: config.$content-width;
  font-weight: 300;
  margin: 20px auto;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 350px;
    color: config.$blue;

    .input {
      width: 100%;
      margin: 20px 0px;

      select {
        @include mixins.input();
        width: 100%;
      }
    }

    @include mixins.mobile {
      width: 100%;
      max-width: 100%;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 12px;
    margin: auto;
    width: 100%;
    direction: rtl;

    @include mixins.tablet {
      grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    }
    @include mixins.mobile {
      display: flex;
      flex-direction: column;
    }
  }

  .timesheetCard {
    width: 100%;
    padding: 12px;
    box-shadow: config.$card-shadow;
    background: config.$white;
    border: 1px solid config.$white;
    @include mixins.border-radius();

    .row {
      margin: 4px 0px;
      @include mixins.row-space-between-center();

      p {
        color: config.$grey;
        font-size: 14px;
      }
    }
  }
}
