@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  font-weight: 300;
  max-width: config.$max-widthHeigh;
  width: config.$content-width;
  margin: auto;
  margin-top: 80px;

  @include mixins.mobile {
    width: 100%;
    padding: 0px 12px;
  }

  @include mixins.tablet {
    width: 100%;
    padding: 0px 12px;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 12px;
  direction: rtl;
  margin-top: 20px;

  @include mixins.mobile {
    display: flex;
    flex-direction: column;
  }

  @include mixins.tablet {
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  }
}

.button {
  text-align: center;

  button {
    @include mixins.button(config.$gold1, config.$gold3, config.$black);
  }
}

.form {
  max-width: 500px;
  margin: auto;
  margin-top: 20px;

  @include mixins.mobile {
    width: 100%;
  }

  @include mixins.tablet {
    width: 100%;
  }

  textarea {
    @include mixins.textarea();
  }
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  text-align: right;
  background: config.$white;
  box-shadow: config.$card-shadow;
  @include mixins.border-radius();

  .tags {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 12px;
    text-align: center;
    margin: 20px 0px;

    p {
      padding: 8px;
      box-shadow: config.$card-shadow;
      @include mixins.border-radius();
    }
  }

  .bio {
    span {
      color: config.$gold3;
      border-bottom: 1px solid config.$gold3;

      @include mixins.desktop {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;

    .info {
      margin-right: 20px;

      .name {
        font-weight: bold;
      }
    }

    .image {
      border-radius: 50%;
    }
  }

  .button {
    width: 100%;
    margin-top: 20px;
    @include mixins.row-space-between-center();
    justify-content: center;
  }

  button {
    @include mixins.button(config.$gold1, config.$gold3, config.$black);
    width: 150px;
  }
}

.profile {
  direction: rtl;
  margin-top: 80px;

  .information {
    text-align: center;
    margin: auto;
    width: 50%;
    font-weight: 300;

    @include mixins.mobile {
      width: calc(100% - 24px);
    }

    @include mixins.tablet {
      width: calc(100% - 24px);
    }

    .arrow {
      margin: auto;
      text-align: left;
    }

    h3 {
      margin: 20px 0px;
    }

    .name {
      margin: 20px 0px;
      font-weight: bold;
    }

    .tags,
    .info {
      width: 100%;
      margin: 30px auto;
    }

    .info {
      text-align: right;
      margin: 12px auto;
    }

    .image {
      @include mixins.border-radius();
    }
  }
}
