@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  position: relative;
  margin: auto;
  user-select: none;
  height: 100dvh;
  width: 100%;
  @include mixins.row-space-between-center();

  .infoBox,
  .imageBox {
    height: 100%;
    width: 50%;
  }
}
