@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container,
.containerReverse {
  position: relative;
  margin: auto;
  user-select: none;
  height: 100dvh;
  width: 100%;
  background: config.$purple;

  @include mixins.allDesktop {
    @include mixins.row-space-between-center();
  }
  @include mixins.tabletLandscape {
    @include mixins.row-space-between-center();
  }

  .infoBox,
  .imageBox {
    height: 100%;

    @include mixins.allDesktop {
      width: 50%;
    }
    @include mixins.tabletLandscape {
      width: 50%;
    }
  }

  .infoBox {
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @include mixins.mobile {
      @include mixins.transparentBackground(0.4, config.$purple);
    }
    @include mixins.tabletPortrait {
      @include mixins.transparentBackground(0.4, config.$purple);
    }

    h1 {
      font-size: config.$large-font;
      margin: 0px auto;
      margin-bottom: 24px;
      color: config.$gold;
      width: config.$content-widthText;

      @include mixins.mobile {
        width: calc(100% - 24px);
      }
    }
    h2 {
      width: config.$content-widthText;
      margin: 0px auto;

      @include mixins.mobile {
        width: calc(100% - 24px);
      }
    }
  }

  .imageBox {
    @include mixins.mobile {
      position: absolute;
      z-index: 2;
      top: 0px;
      left: 0px;
      height: 100dvh;
      width: 100%;
    }
    @include mixins.tabletPortrait {
      position: absolute;
      z-index: 2;
      top: 0px;
      left: 0px;
      height: 100dvh;
      width: 100%;
    }
  }
}

.containerReverse {
  @include mixins.allDesktop {
    @include mixins.row-space-between-center();
    flex-direction: row-reverse;
  }
  @include mixins.tabletLandscape {
    @include mixins.row-space-between-center();
    flex-direction: row-reverse;
  }
}
