@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-weight: 300;
  margin-top: 24px;

  h5 {
    color: config.$blue;
  }

  .input {
    width: 100%;

    .bar {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      margin: 16px 0px;
      margin-bottom: 4px;
    }

    .label {
      color: config.$grey;

      span {
        color: config.$red;
      }
    }

    input,
    select {
      @include mixins.input();
      width: 100%;
    }

    select {
      direction: rtl;
    }

    p {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  .timeContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 8px;
    text-align: center;
    margin: 24px 0px;
    width: 330px;

    .timeBox {
      display: flex;
      flex-direction: column;

      .count {
        color: config.$blue;
        font-size: config.$tiny-font;
        font-weight: bold;
      }
    }
  }

  .totalCount {
    color: config.$blue;
    margin-top: 24px;
  }

  .time,
  .activeTime {
    padding: 8px;
    background: config.$white;
    box-shadow: config.$card-shadow;
    color: config.$black;
    cursor: pointer;
    @include mixins.border-radius();

    @include mixins.desktop {
      &:hover {
        background: config.$blue;
        color: config.$white;
      }
    }
  }

  .activeTime {
    background: config.$blue;
    color: config.$white;
  }

  .button {
    @include mixins.button(config.$blue, config.$blue, config.$white);
    & {
      margin-top: 24px;
    }
  }

  .alert {
    color: config.$red;
  }

  .message {
    color: config.$blue;
    font-weight: bold;
    margin-top: 24px;
  }
}

.activeButton {
  & {
    margin-top: 24px;
  }
  @include mixins.button(config.$red, config.$red, config.$white);
}

.disableButton {
  & {
    margin-top: 24px;
  }
  @include mixins.button(config.$green, config.$green, config.$white);
}
