@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  gap: 12px;
  width: 100%;
  direction: rtl;

  @include mixins.desktop {
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  }

  @include mixins.tablet {
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  }

  div,
  .active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 4px;
    border-radius: 12px;
    background: config.$white;
    box-shadow: config.$card-shadow;
    border: 1px solid config.$white;
    font-weight: 300;
    cursor: pointer;

    @include mixins.desktop {
      &:hover {
        border: 1px solid config.$gold3;
        color: config.$gold3;
      }
    }

    p {
      font-size: config.$tiny-font;
      margin: 0px 12px;
    }
  }

  .active {
    border: 1px solid config.$gold3;
    color: config.$gold3;
  }
}
