@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  height: 100%;

  .diagram {
    position: relative;
    height: 250px;
  }
}

.navigation,
.navigationTypes {
  margin: 16px auto;
  width: 100%;
  max-width: 400px;
  @include mixins.row-space-between-center();
  justify-content: space-around;
  border: 1px solid config.$grey;
  border-radius: 50px;
  padding: 4px;
}

.navigation {
  cursor: pointer;

  .nav {
    @include mixins.desktop {
      &:hover {
        background: config.$white;
        color: config.$blue;
      }
    }
  }

  .activeNav {
    color: config.$blue;
    font-weight: bold;
  }
}

.navigationTypes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  border: none;
  gap: 8px;

  .nav {
    border: 1px solid config.$blue;
    cursor: pointer;

    @include mixins.desktop {
      &:hover {
        background: config.$blue;
        color: config.$white;
      }
    }
  }

  p {
    background: config.$white;
    color: config.$blue;
    padding: 4px;
    border-radius: 50px;
  }
}

.selectedSubcategories {
  width: 100%;
  max-width: 400px;
  margin: 8px auto;
  @include mixins.row-space-between-center();
  flex-wrap: wrap;
  justify-content: flex-start;
  background: config.$white;
  padding: 4px 8px;
  border-radius: 10px;

  h4 {
    margin: 0px 8px;
    text-align: right;
  }
}

.button {
  @include mixins.button(config.$blue, config.$blue, config.$white);
  width: 150px;
  margin: 32px 0px;
}
