@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  position: relative;
  width: config.$content-width;
  max-width: config.$max-widthHeigh;
  margin: auto;
  padding: 50px 0px;
  user-select: none;
  @include mixins.row-space-between-center();

  @include mixins.mobile {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: calc(100% - 24px);
  }
  @include mixins.tabletPortrait {
    width: config.$content-width;
  }
  @include mixins.tabletLandscape {
    width: config.$content-width;
  }

  .booking {
    direction: rtl;

    @include mixins.mobile {
      width: 100%;
    }

    .link {
      cursor: pointer;
      margin: 12px 0px;
      width: fit-content;

      &:hover {
        color: config.$gold;
      }
    }
  }

  .social {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mixins.mobile {
      margin-top: 24px;
    }

    .icon {
      display: flex;
      margin-top: 12px;

      &:hover {
        color: config.$gold;
        cursor: pointer;
      }
    }
  }

  .logo {
    position: relative;
    @include mixins.mobile {
      position: absolute;
      bottom: 50%;
    }
    width: 150px;
    height: 100px;
    cursor: pointer;
  }
}
