@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  position: relative;
  width: config.$content-width;
  max-width: config.$max-width;
  margin: auto;
  padding-bottom: 50px;
  padding-top: 100px;
  user-select: none;
  color: config.$white;
  font-size: config.$small-font;
  @include mixins.row-space-between-center();
  align-items: flex-start;

  @include mixins.mobile {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: calc(100% - 24px);
  }
  @include mixins.tabletPortrait {
    width: config.$content-width;
  }
  @include mixins.tabletLandscape {
    width: config.$content-width;
  }

  .booking {
    @include mixins.mobile {
      width: 100%;
    }

    .link {
      cursor: pointer;
      margin-bottom: 12px;
      width: fit-content;

      @include mixins.desktop {
        &:hover {
          color: config.$gold;
        }
      }
    }

    .navActive {
      color: config.$gold;
      cursor: pointer;
    }
  }

  .social {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mixins.mobile {
      margin-top: 24px;
    }

    .icon {
      display: flex;
      margin-bottom: 12px;

      &:hover {
        color: config.$gold;
        cursor: pointer;
      }
    }
  }

  .logo {
    position: relative;
    width: 100px;
    height: 50px;
    margin-top: 24px;
    cursor: pointer;
  }
}
