@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  position: relative;
  user-select: none;
  color: config.$white;
  width: 100%;
  max-width: config.$max-widthHeigh;

  .fullMenu {
    margin: auto;
    width: config.$content-width;
    @include mixins.row-space-between-center();

    @include mixins.mobile {
      width: calc(100% - 24px);
    }
  }

  .action {
    font-size: config.$small-font;
    @include mixins.row-space-between-center();

    p {
      &:hover {
        color: config.$gold;
        cursor: pointer;
      }
    }
  }

  .fullSizeNavigation {
    width: 50%;
    @include mixins.row-space-between-center();

    .bar {
      width: 70%;
      @include mixins.row-space-between-center();

      @include mixins.tabletPortrait {
        width: config.$content-widthText;
      }
      @include mixins.tabletLandscape {
        width: config.$content-widthText;
      }
    }
  }

  .mobileNavigation {
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: config.$darkblue;
    height: 100dvh;
    z-index: -1;
    width: 100%;

    .nav {
      color: config.$white;
    }

    .mobileNavigation {
      overflow: hidden;
    }

    .nav,
    .navActive {
      opacity: 0;
      transform: translateY(80px) scale(0.95);
      animation: slideUp 1s cubic-bezier(0.16, 1, 0.3, 1) forwards;
      will-change: transform, opacity;
      margin: 24px;
      font-size: config.$med-font;
    }

    @keyframes slideUp {
      from {
        opacity: 0;
        transform: translateY(80px) scale(0.95);
      }

      to {
        opacity: 1;
        transform: translateY(0) scale(1);
      }
    }
  }

  .nav {
    font-size: config.$small-font;
    cursor: pointer;

    @include mixins.desktop {
      &:hover {
        color: config.$gold;
      }
    }
  }

  .navActive {
    font-size: config.$small-font;
    color: config.$gold;
    cursor: pointer;
  }

  .logo {
    position: relative;
    width: 150px;
    height: 100px;
    cursor: pointer;
  }
}
