@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  color: config.$white;
  background: config.$darkblue;

  .imageBox {
    position: relative;
    height: 100dvh;
    width: 100%;

    .scrollDown {
      position: absolute;
      z-index: 2;
      left: 50%;
      bottom: 15%;
      transform: translateX(-50%);
    }
  }

  .content {
    width: config.$content-width;
    max-width: config.$max-widthHeigh;
    margin: auto;
  }
}
