@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  color: config.$white;
  background: config.$darkblue;
}

.contentBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: config.$darkblue;
  direction: rtl;

  .content {
    width: config.$content-width;
    max-width: config.$max-widthHeigh;
    margin: 120px auto;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 24px;
    color: config.$gold;
  }
  h2 {
    margin: auto;
    width: config.$content-widthText;

    @include mixins.mobile {
      width: 100%;
    }
  }
}

.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: config.$content-width;
  text-align: center;
  height: 100dvh;
}
