@use "styles/_config.scss" as config;
@use "styles/_mixins.scss" as mixins;

.container {
  color: config.$white;
  background: config.$darkblue;
}

.imageBox {
  position: relative;
  height: 100dvh;
  width: 100%;
  user-select: none;
  margin-bottom: 50px;

  .title {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: config.$content-widthText;
    @include mixins.position-center();
  }

  .scrollDown {
    position: absolute;
    z-index: 2;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
  }
}

.category,
.categorySecond {
  @include mixins.row-space-between-center();
  flex-wrap: wrap;
  gap: 12px;
  padding: 12px 0px;
  margin: auto;
  width: 80%;
  max-width: config.$max-width;
  text-transform: capitalize;
  user-select: none;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
  @include mixins.tabletPortrait {
    width: config.$content-width - 10%;
  }
  @include mixins.tabletLandscape {
    width: config.$content-width - 10%;
  }

  .item {
    cursor: pointer;

    &:hover {
      color: config.$gold;
    }
  }
  .itemActive {
    color: config.$gold;
  }
}

.categorySecond {
  width: 60%;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
  @include mixins.tabletPortrait {
    width: config.$content-width - 20%;
  }
  @include mixins.tabletLandscape {
    width: config.$content-width - 20%;
  }
}

.content {
  max-width: config.$max-width;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 1px solid config.$darkblue;
  margin-top: 50px;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
  @include mixins.tabletPortrait {
    width: calc(100% - 24px);
  }

  .text {
    margin: 24px auto;
    width: config.$content-widthText;

    @include mixins.mobile {
      width: 100%;
    }
  }
}
