$black: #1b1b1b;
$white: #ffffff;
$red: #d40d12;
$green: #15b392;
$grey: #a3a8ab;
$lightgrey: #d1d5d7;
$background: #fafbf6;
$blue: #2d2b7f;
$darkblue: #000b1f;
$gold: #daa483;
$purple: #16103a;

$max-widthHeigh: 3000px;
$content-width: 90%;
$content-widthText: 80%;

$small-font: 0.9rem;
$med-font: 1.2rem;
$big-font: 1.5rem;
$large-font: 2.5rem;

$image-shadow: rgba(181, 181, 181, 0.2) 0px 2px 8px 0px;
$card-shadow: rgba(181, 181, 181, 0.2) 0px 8px 24px;
$button-shadow: rgba(181, 181, 181, 0.2) 0px 3px 8px;
