$font: "Daal", sans-serif;
$font-gilan: "Gilan", sans-serif;

$gold1: #e7c69a;
$gold2: #d4af37;
$gold3: #b69119;
$logo: #a8926d;
$black: #1b1b1b;
$white: #ffffff;
$red: #d40d12;
$green: #57a361;
$grey: #969696;
$background: #fafbf6;

$max-widthHeigh: 1500px;
$content-width: 90%;

$tiny-font: 0.875rem; // 12px
$small-font: 1rem; // 16px
$med-font: 1.125rem; // 18px
$big-font: 1.25rem; // 20px
$exbig-font: 1.375rem; // 22px
$large-font: 2rem; // 32px

$image-shadow: rgba(181, 181, 181, 0.2) 0px 2px 8px 0px;
$card-shadow: rgba(181, 181, 181, 0.2) 0px 8px 24px;
$button-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
