@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;500&display=swap");

$font: "Vazirmatn", sans-serif;

$black: #1b1b1b;
$white: #ffffff;
$red: #d40d12;
$green: #57a361;
$grey: #999999;
$lightgrey: #d6d6d6;
$background: #fafbf6;
$blue: #2d2b7f;

$max-widthHeigh: 1500px;
$content-width: 75%;
$content-widthTablet: 90%;

$tiny-font: 0.875rem; // 12px
$small-font: 1rem; // 16px
$med-font: 1.125rem; // 18px
$big-font: 1.25rem; // 20px
$exbig-font: 1.375rem; // 22px
$large-font: 2rem; // 32px

$image-shadow: rgba(181, 181, 181, 0.2) 0px 2px 8px 0px;
$card-shadow: rgba(181, 181, 181, 0.2) 0px 8px 24px;
$button-shadow: rgba(181, 181, 181, 0.2) 0px 3px 8px;
