@use "config" as config;
@use "sass:color";

$screen-mobile: 700px;
$screen-tablet: 1400px;
$screen-large: 2000px;
$screen-fourK: 6000px;

@mixin mobile {
  @media (max-width: #{$screen-mobile}) {
    @content;
  }
}
@mixin tabletPortrait {
  @media (min-width: #{$screen-mobile}) and (max-width: #{$screen-tablet}) and (orientation: portrait) {
    @content;
  }
}
@mixin tabletLandscape {
  @media (min-width: #{$screen-mobile}) and (max-width: #{$screen-tablet}) and (orientation: landscape) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$screen-tablet} ) and (max-width: #{$screen-large}) {
    @content;
  }
}
@mixin fourK {
  @media (min-width: #{$screen-large} ) and (max-width: #{$screen-fourK}) {
    @content;
  }
}
@mixin allDesktop {
  @media (min-width: #{$screen-tablet} ) {
    @content;
  }
}

@mixin button($color1, $color2, $subColor) {
  & {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    font-size: 16px;
    border: 1px solid $color1;
    color: $subColor;
    box-shadow: config.$button-shadow;
    background: $color2;
    cursor: pointer;
    font-family: "Vazir-Regular";
  }

  @include desktop {
    &:hover {
      background: $subColor;
      color: $color2;
    }
  }
}

@mixin buttonAnime($main, $sub) {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $main;
  overflow: hidden;
  border: none;
  user-select: none;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;

  @include mobile {
    width: 350px;
  }

  &:after {
    content: "";
    width: 0%;
    height: 100%;
    background: $sub;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
    top: 0;
  }

  &:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }

  span {
    z-index: 1;
    color: $sub;
    letter-spacing: 0.05rem;
    padding: 0px 28px;
    transition: all 0.3s ease-in-out;
    font-size: config.$med-font;
  }

  &:hover span {
    color: $main;
  }
}

@mixin input() {
  padding: 12px;
  height: 50px;
  background: config.$background;
  color: config.$black;
  font-size: config.$small-font;
  outline: none;
  border-radius: 50px;
  border: 1px solid config.$grey;
  font-weight: 300;
  font-family: "Vazir-Regular";

  &:focus {
    outline: none;
    border: 1px solid config.$blue;
  }
}

@mixin border-radius() {
  border-radius: 5px;
}

@mixin row-space-between-center() {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin transparentBackground($alpha, $color) {
  background: color.adjust($color, $alpha: -$alpha);
}
