@use "config" as config;

$screen-mobile: 700px;
$screen-tablet: 1400px;
$screen-large: 2000px;
$screen-fourK: 6000px;

@mixin mobile {
  @media (max-width: #{$screen-mobile}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$screen-mobile} ) and (max-width: #{$screen-tablet}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$screen-tablet} ) and (max-width: #{$screen-large}) {
    @content;
  }
}
@mixin fourK {
  @media (min-width: #{$screen-large} ) and (max-width: #{$screen-fourK}) {
    @content;
  }
}

@mixin button($color1, $color2, $subColor) {
  & {
    width: 190px;
    height: 40px;
    border-radius: 50px;
    font-size: 16px;
    border: 1px solid $color1;
    color: $subColor;
    box-shadow: config.$button-shadow;
    background: $color2;
    font-weight: bold;
  }

  @include desktop {
    &:hover {
      cursor: pointer;
      background: $subColor;
      color: $color2;
    }
  }
}

@mixin input() {
  padding: 12px;
  height: 50px;
  background: config.$background;
  color: config.$black;
  font-size: config.$small-font;
  outline: none;
  border-radius: 50px;
  border: 1px solid config.$grey;
  font-weight: 300;

  &:focus {
    outline: none;
    border: 1px solid config.$blue;
  }
}

@mixin border-radius() {
  border-radius: 12px;
}

@mixin transparentBackground($alpha, $color) {
  background-color: rgba(red($color), green($color), blue($color), $alpha);
}

@mixin row-space-between-center() {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
