@use "config" as config;
@use "mixins" as mixins;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: config.$font;
  line-height: 30px;
}

html {
  background: config.$background;
}

body {
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

abbr[title] {
  text-decoration: none;
}

h1 {
  font-size: 2.2rem;
  @include mixins.mobile {
    font-size: 2rem;
  }
}

h2 {
  font-size: 1.7rem;
  @include mixins.mobile {
    font-size: 1.5rem;
  }
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

.main {
  min-height: 100vh;
}

.icon {
  cursor: pointer;
  color: config.$blue;
}

.alert,
.message {
  text-align: center;
  color: config.$red;
  margin: 16px 0px;
}

.message {
  color: config.$grey;
  font-weight: 100;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 500px;
  margin: auto;

  @include mixins.mobile {
    width: calc(100% - 24px);
  }
}

.appload {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Calendar__day.-selected,
.Calendar__day.-selectedStart,
.Calendar__day.-selectedEnd {
  background: config.$blue !important;
}

.Calendar__monthSelectorItem.-active .Calendar__monthSelectorItemText,
.Calendar__yearSelectorItem.-active .Calendar__yearSelectorText {
  background: config.$blue !important;
}
